* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container_all {
  background-color: #f3f6fb;
  position: relative;
  right: 0;
  transition: all 300ms;
  background-image: url(../../../assets/images/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*COVER*/

.cover {
  width: 100%;
  padding-bottom: 120px;
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}

.container__cover {
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: bottom;
}

.cover .container__info {
  max-width: 400px;
  margin-top: 160px;
  z-index: 2;
}

.cover h1 {
  width: 464px;
  height: 100px;
  font-size: 50px;
  font: normal normal normal 84px/100px Museo Sans Rounded 700;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-bottom: 20px;
}

.cover p {
  margin-top: 10px;
  color: #fff;
  font-weight: lighter;
}

.cover input[type="button"] {
  padding: 15px 20px;
  margin-top: 40px;
  border: none;
  color: white;
  background: #4487ff;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  cursor: pointer;
  transition: box-shadow 500ms;
}

.info_button {
  display: flex;
  align-items: center;
}

.info_button p {
  padding: 25px 20px 0;
  font-size: 14px;
  font-weight: lighter;
}

.cover input[type="button"]:hover {
  box-shadow: 1px 1px 30px -5px #20202085;
}

.container__vector {
  position: relative;
}

.container__vector img {
  position: absolute;
  right: 10px;
  width: 500px;
  padding-top: 50px;
  padding-left: 100px;
}

@media screen and (max-width: 920px) {
  .container__vector img {
    width: 500px;
  }
}

@media screen and (max-width: 760px) {
  .cover {
    background-image: url(../../../assets/images/fondo-mobile.png);
  }

  .container__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__menu {
    display: flex;
  }

  nav {
    height: 100%;
    background: #f1faff;
    position: fixed;
    top: 0;
    right: -180px;
    padding: 0px 40px;
    transition: all 300ms;
  }

  .move_nav {
    right: 0px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 20px 0px;
  }

  .container__vector img {
    transform: scale(0);
    animation: none;
  }
}
.container-file2 {
  display: flex;
  margin-top: 380px;
}
.services-container {
  margin: 30px 180px;
}
.services-container h3 {
  font: normal normal bold 36px/64px Comfortaa;
  letter-spacing: 0px;
  color: #ff6752;
  opacity: 1;
}
.exp {
  font: normal normal normal 20px/24px Open Sans;
  letter-spacing: 0px;
  color: #808080;
  opacity: 0.8;
}
.loc {
  font: normal normal bold 17px/54px Segoe UI;
  letter-spacing: 0px;
  color: #ff6752;
  opacity: 1;
}
.services-container input {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  opacity: 1;
  border: none;
  width: 193px;
  height: 60px;
  padding-left: 18px;
}
.services-container button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #ff6752 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fd68454d;
  opacity: 1;
  position: relative;
  right: 58px;
}

.container__article {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 2em;
}
.container__article p {
  color: #707070;
}

.container__article .box__article {
  width: 170px;
  height: 170px;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box__article img {
  width: 50px;
  height: 50px;
  margin: 18px;
}
.container-card {
  margin-top: 500px;
}
.container-card h3 {
  font: normal normal bold 24px/34px Comfortaa;
  letter-spacing: 0px;
  color: #ff6752;
  opacity: 1;
  text-align: center;
  padding-bottom: 50px;
}
.boxes {
}

.container-file3 {
  display: flex;
  justify-content: space-evenly;
  margin: 150px;
}
.cont2 {
  position: relative;
  left: 250px;
}
.boxes2 {
  color: #707070;
}
.box-card4 {
  width: 170px;
  height: 170px;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-card5 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  width: 170px;
  height: 170px;
  background: white;
  position: relative;
  left: 230px;
  flex-direction: column;
}
.box-card6 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  width: 170px;
  height: 170px;
  background: white;
  flex-direction: column;
}
.box-card4 img,
.box-card5 img,
.box-card6 img {
  width: 50px;
  height: 50px;
  margin: 18px;
}
.last-file {
  display: flex;
  justify-content: center;
}
.last-container {
  display: flex;
  align-items: center;
  width: 700px;
  height: 230px;
  background-color: #4487ff;
  border-radius: 8px;
}

.last-image div {
  background-color: yellow;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  position: relative;
  top: 86px;
  left: 30px;
}
.last-file img {
  width: 110px;
  position: relative;
  left: 41px;
  bottom: 57px;
}
.last-text {
  width: 450px;
  position: relative;
  left: 58px;
  bottom: 10px;
}
.last-text h3 {
  font: normal normal bold 25px/64px Comfortaa;
  letter-spacing: 0px;
  color: #ffe530;
  opacity: 1;
}
.last-text p {
  text-align: left;
  font: normal normal normal 18px/20px Open Sans;
  letter-spacing: 0px;
  color: #f8f8f8;
  opacity: 1;
  padding-bottom: 20px;
}
.last-button {
  width: 92px;
  height: 35px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  border: none;
  opacity: 1;
  color: #fe6845;
  cursor: pointer;
}

/*AQUI COMIENZA EL FOOTER*/

footer {
  width: 100%;
  padding: 50px 0px;
  font-family: "Nunito", sans-serif;

  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  text-align: left;
  font: normal normal bold 24px/32px Segoe UI;
  letter-spacing: 0px;
  color: #ffe530;
  opacity: 1;
}

.box__footer a {
  font: normal normal normal 18px/32px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer{
  margin-top: 37px;
}
.adress input{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  opacity: 1;
  border: none;
  width: 193px;
  height: 60px;
  padding-left: 18px;
}
.adress button{
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #ff6752 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fd68454d;
  opacity: 1;
  position: relative;
  right: 58px;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #fbfbfb;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #ffffff;
}
